@import "tailwindcss";

@theme {
    /* Основной фон страницы */
    --color-background: #fafafa;

    --color-header: #f2f3f4;

    /* Текст и границы */
    --color-main: #1F2937;
    --color-heading: #111827;
    --color-secondary-text: #4B5563;
    --color-placeholder: #9CA3AF;

    /* Primary (Терракотовый) */
    --color-primary: #2563EB;
    --color-primary-hover: #1D4ED8;

    /* Secondary (Оливковый) */
    --color-secondary: #E5E7EB;
    --color-secondary-hover: #D1D5DB;

    --color-border: #b2b7c1

    /* Фоны и интерфейс */
    --color-card: #FFFFFF;
    --color-card-hover: #F9FAFB;
    --color-divider: #E5E7EB;
}

body {
  background-color: var(--color-background);
}

@layer base {
  h1 {
    @apply text-2xl
  }
  h2 {
    @apply text-xl
  }
  h3 {
    @apply text-lg
  }
}

